{% extends "layout.html" %}
{% block content%}
    <style>
    .main{
        display: grid;
        align-items: center;
    }
    </style>
    <div>
        <img src="static\images\letter_wings.jpg" alt="envelop_logo" class="center" height="350" width="350"> 
        <h1>Welcome to Sanctuary</h1>
        </br>
        <div class="main">
            <button type="button" class="btn btn-primary" onclick="onClickRead()">Show your Support</button>
        </div> 
        <br/>       
        <div class="main">
            <button type="button" class="btn btn-primary" onclick="onClickWrite()">Enter the Sanctuary</button>
        </div>
    </div>
    <script>
        function onClickWrite(){
            location.href='/write';
        }
        function onClickRead(){
            location.href='/read';
        }

    </script>

{% endblock content %}