{% extends "layout.html" %}
{% block content %}
    <div>
        {{ cookie }}
        <h1 class="mb-4">Welcome to Sanctum</h1>
        <img src="static\images\avatar-svgrepo-com.svg" alt="profile_avatar" class="center" height="25%" width="25%"> 
        </br>
        <div class="main">
            <button type="button" class="btn btn-primary" onclick="onClickWrite()">Enter Your Sanctum</button>
        </div>
        <br/>  
        <div class="main">
            <button type="button" class="btn btn-primary" onclick="onClickSupport()">Support Someone</button>
        </div>
        <br/>  
        <div class="main">
            <button type="button" class="btn btn-primary" onclick="onClickPair()">Sync Devices</button>
        </div>        
    </div>
    <script>
        function onClickWrite(){
            location.href='/write';
        }
        function onClickSupport(){
            location.href='/support';
        }
        function onClickPair(){
            location.href='/pair_account';
        }
    </script>

{% endblock content %}