{% extends "layout.html" %}
{% block content%}
    <style>
    
    </style>
    <div class="container">
        <h3>Reach out and Touch Someone's heart</h3>
        <img src="static\images\hand.jpg" alt="hand_logo">
    </div>
    <br/>
    <h4>Your messages</h4>
    <div>
        {{ messages }}
    </div>
    <br/>

    <form>
        <div class="form-group">
            <textarea class="form-control" id="write" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <script>

    </script>

{% endblock content %}