{% extends "layout.html" %}
{% block content%}
    <style>
    
    </style>
    <section>
        <div>
          <h1>Share Your Feelings</h1>
        </div>
    </section>
    <form id="form_feeling" method="POST">
        <div class="form-group">
            <textarea class="form-control" id="feeling" name="feeling" rows="5"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" onclick="return onClickSubmit()" value="Send">
    </form>
    <section class="mt-5">
        <div>
          <h4 style=text-align:left;>Thought Collection</h4>
        </div>
        {% for respone in other_response %}
            <div class="jumbotron">
                <div>
                <p class="postcard" align=left>You previous feelings:</p>
                    <p class="lead postcard" class="lead postcard">{{ respone['event_data'] }}</p>
                    <p>&#10084; {{ respone['postcard_love'] }} &#9728; {{  respone['postcard_comfort'] }} &#9970; {{  respone['postcard_comfort'] }}</p>
                </div>
                {% for sub_respone in respone['postcard_reply'] %}
                <p class="postcard" align=right>{{ sub_respone[0] }} replied:</p>
                <div>
                    <p class="lead postcard" align=right>{{ sub_respone[1] }}</p>
                </div>
                <p class="lead postcard" align=right>----------</p>
                {% endfor %}
            </div>
        {% endfor %}
    </section>
    <script>
        function onClickSubmit(){
            if(document.getElementById("feeling").value == ''){
                alert("Please write your feelings for now. (In the future, we can try to read your mind!)");
                return false;
            } else {
                document.getElementById("form_feeling").action = "{{ url_for('add_postcard_event') }}"
            }
        }
    </script>

{% endblock content %}